{% extends 'base.html.twig' %}

{% block title %}Edit CapitalisationPartI{% endblock %}

{% block body %}
    <h1>Edit CapitalisationPartI</h1>

    {{ include('capitalisation_part_i/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_capitalisation_part_i_index') }}">back to list</a>

    {{ include('capitalisation_part_i/_delete_form.html.twig') }}
{% endblock %}
